/*CAMBI DESCRIZIONE----------------------------------------------------------------------------------*/
#descrizione{
    margin-bottom: 0px;
    margin-top: 50px;
}

#descrizione p{
    line-height: 1.5rem;
    padding: 8px;
}

/*CAMBI DISTANZIATORE----------------------------------------------------------------------------------*/
#distanziatore{
    height: 200px;
}